h1, h2, p, a, div {
    text-align: center;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: purple; }
}

body {
    background-color: aqua;
    font-family: "Comic Sans MS", cursive;
}